.animals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-justify: justify;
    
    // &__tiger {

    // }

    // &__axolotl {

    // }

    // &__bear {

    // }

    // &__eagle {

    // }
    
}