@font-face {
    font-family: pressStart;
    src: url(../assets/fonts/prstart.ttf);
}

@font-face {
    font-family: pressStartk;
    src: url(../assets/fonts/prstartk.ttf);
}

body {
    background-color : #4CAF50;
}

header {
    font-family: pressStart;
    font-size: 35px;
    display: flex;
    justify-content: center;
}


div {
    font-family: pressStart;
    line-height: 26px;
}

// TITLE //

.letters_color {
    color: rgb(238, 0, 0);
}

// ANIMALS //

.animals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-justify: justify;
    font-size: large;

    // &__tiger {

    // }

    // &__axolotl {

    // }

    // &__bear {

    // }

    // &__eagle {

    // }

}

// ENCLOSURE //

.enclosures {
    display: flex;
    flex-direction: column;
    border: rgb(180, 82, 12) 3px solid;
    justify-content: jusity;
    text-align: justify;
    font-size: large;

}