@font-face {
    font-family: pressStart;
    src: url(../assets/fonts/prstart.ttf);
}

@font-face {
    font-family: pressStartk;
    src: url(../assets/fonts/prstartk.ttf);
}

body {
    background-color: #53a856;
}

header {
    font-family: pressStart;
    font-size: 35px;
    display: flex;
    justify-content: center;
}


div {
    font-family: pressStart;
    line-height: 26px;
}

a {
    text-decoration: none;
}

// TITLE //

.letters_color {
    color: rgb(238, 0, 0);
}

// ANIMALS //

.animals {
    display: flex;
    text-align: center;
    text-justify: justify;
    flex-direction: column;


    // &__tiger {

    // }

    // &__axolotl {

    // }

    // &__bear {

    // }

    // &__eagle {

    // }

}

// ENCLOSURE //

.enclosures {
    &__tiger {
        display: flex;
        flex-direction: column;
        border: rgb(180, 82, 12) 3px solid;
        justify-content: jusity;
        text-align: justify;
        font-size: large;
    }

    &__fish {
        display: flex;
        flex-direction: column;
        border: rgb(180, 82, 12) 3px solid;
        justify-content: jusity;
        text-align: justify;
        font-size: large;
    }

    &__bear {
        display: flex;
        flex-direction: column;
        border: rgb(180, 82, 12) 3px solid;
        justify-content: jusity;
        text-align: justify;
        font-size: large;
    }
}

.add {
    text-align: center;
}